.profile {
  margin: 0 auto;
  width: 100%;
}

.profile__form {
  margin: 0;
  padding: 0;
}

.profile__content {
  display: flex;
  flex-direction: column;
  padding: 70px 0 70px;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  line-height: 29px;
  font-size: 24px;
  margin: 20px 0;
}

.profile__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__btn-container:hover {
  opacity: 0.8;
}

.profile__btn {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 16px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.profile__btn:hover {
  opacity: 0.7;
}

.profile__btn_red {
  padding-bottom: 0;
  font-weight: 500;
  color: #FF4062;
}

.profile__btn:hover {
  opacity: 0.7;
}

.profile__inputs {
  width: 410px;
  flex-direction: column;
  margin: 88px auto 202px;
  display: flex;
}

.profile__input-label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__label:first-child {
    border-bottom: 1px solid #E8E8E8;
}

.profile__input {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding: 17px 0 16px;
  color: #000;
  border: none;
  text-align: right;
}

.profile__input-error {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
    color: #FF3055;
    margin-top: 4px;
}

@media screen and (max-width: 800px) {
  .profile__content {
    margin: 162px auto 269px;
  }

  .profile__inputs {
    margin: 60px auto 190px;
  }

  .profile__btn-container {
    margin-top: 4px;
  }

}

@media screen and (max-width: 420px) {
  .profile__content {
    margin: 0 auto 40px;
    padding-top: 50px;
  }

  .profile__inputs {
    margin: 46px auto 356px;
    width: 260px;
  }
}