.movies-card-list {
  margin: 0 auto;
  width: calc(100% - 140px);
  text-align: center;
  width: 100%;
}
.movies-card-list__container {
  margin: 0 auto 30px;
  grid-template-columns:  repeat(4, auto);
  max-width: 1140px;
  /* grid-auto-rows: 271px; */
  grid-gap: 30px 20px;
  padding: 86px 0 170px;
  display: grid;
  justify-content: center;
  list-style: none;
}
@media screen and (max-width: 1279px) {
  .movies-card-list {
    width: calc(100% - 60px);
 }
  .movies-card-list__container {
    padding: 46px 0 40px;
    max-width: 708px;
    grid-auto-rows: 258px;
    grid-gap: 36px 30px;
    grid-template-columns:  repeat(2, auto);
 }
}
@media screen and (max-width: 767px) {
  .movies-card-list {
    width: calc(100% - 20px);
 }
  .movies-card-list__container {
    grid-template-columns: repeat(1, auto);
    max-width: 300px;
    grid-gap: 20px;
    padding: 56px 0 16px;
 }
}