.info {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	min-width: 100px;
	width: 100%;
	max-width: 300px;
	height: 50px;
}

.info_opened {
	display: block;
}

.info__container {
	position: absolute;
	bottom: 0;
	padding: 5px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition: .3s ease-in-out;
	cursor: pointer;
}

.info__container:hover {
	opacity: .7;
}

.info__icon {
	width: 40px;
	height: 40px;
}

.info__text {
	color: black;
	font-size: 12px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}