  .saved-movies {
    width: 100%;
    margin: 0 auto;
  }
  
  .saved-movies__container {
    width: 1140px;
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: 151px;
    grid-gap: 20px;
    grid-row-gap: 116px;
    display: grid;
    justify-content: left;
    list-style: none;
    margin: 88px auto 398px;
    padding: 0;
  }


  @media screen and (max-width: 1279px) {
    .saved-movies__container {
      width: 708px;
      grid-template-columns: repeat(2, 339px);
      grid-auto-rows: 190px;
      grid-column-gap: 30px;
      grid-row-gap: 109px;
      margin: 42px auto 308px;
    }
  
  }

  @media screen and (max-width: 767px) {
    .saved-movies__container {
      margin: 58px auto 308px;
      width: 300px;
      grid-template-columns: repeat(1, 300px);
      grid-auto-rows: 168px;
      grid-gap: 112px;
    }
  } 