.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sidebar_hidden {
  display: none;
}

.sidebar__container {
  position: relative;
}

.sidebar__shadow {
  width: 95vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: #000;
  position: absolute;
  opacity: 0.3;
  z-index: 3;
}

.sidebar__nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 520px;
  top: 0;
  right: 0;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #000;
  z-index: 3;
}

.sidebar__close-button {
  position: absolute;
  display: block;
  min-width: 22px;
  cursor: pointer;
  border: none;
  right: 26px;
  top: 28px;
  background-color: inherit;
  margin: 0;
  padding: 0;
}
.sidebar__close-button:hover {
  opacity: 0.8;
}

.sidebar__close-button img {
  width: 100%;
}

.sidebar__elements {
  display: flex;
  align-items: center;
  gap: 26px;
  list-style: none;
  flex-direction: column;
  margin-top: 162px;
  padding: 0;
}

.sidebar__element {
  text-decoration: none;
  background-color: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.sidebar__element:hover {
  text-decoration: underline;
}

.sidebar__link {
  text-decoration: none;
  background-color: inherit;
  color: #000;
}

.sidebar__account-element  {
  margin-bottom: 288px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 40px;
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 8px 38px 8px 18px;
  position: relative;
}

.sidebar__account-element ::before {
  background-image: url(../images/icon-profile.svg);
  border-radius: 50px ;
  background-color: #F9F9F9;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 25%;
  right: 14%;
}

@media screen and (min-width: 800px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .sidebar__nav-container {
    min-width: 320px;
    width: 100vw;
  }

  .sidebar__elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 144px;
  }

  .sidebar__account-element {
    margin-bottom: 488px;
  }

  .sidebar__close-button {
    top: 12px;
    right: 12px;
  }
}

/* .menu {
  position: fixed;
  width: 68vw;
  height: 100vh;
  top: 0;
  right: 0;
  background: #fff;
  transform: translate(270%);
  transition: all 0.2s;
  z-index: 1000;
}
.menu__active {
  transform: translate(0);
  transition: all 0.2s;
}
.blur {
  width: 100vw;
  height: 100vh;
  right: 100%;
  opacity: 0.3;
  position: absolute;
  background: #000000;
  z-index: 2;
}
.menu__content {
  width: 100%;
  height: 100vh;
}
.menu__header {
  display: flex;
  justify-content: flex-end;
  margin-right: 26px;
  margin-top: 12px;
}
.menu__header:after {
  display: inline-block;
  content: '\00d7';
  font-size: 40px;
  cursor: pointer;
  text-align: right;
}
.menu__list {
  text-align: right;
  list-style: none;
  padding: 102px 0 99px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  gap: 28px;
}
.menu__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.menu__item:last-of-type {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5vh;
  margin-top: 58vh;
}
.menu__link {
  text-decoration: none;
  color: #000;
}
.menu__link:hover {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
  margin-bottom: -6px;
}
.menu__link_active {
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
  margin-bottom: -6px;
}

@media (max-width: 520px) {
  .menu {
    width: 100%;
    height: 100%;
  }
  .menu__header {
    margin-top: 2px;
    margin-right: 14px;
  }
  .menu__list {
    padding-top: 97px;
    padding-bottom: 55px;
    gap: 24px;
  }
  .menu__link:hover {
    padding-bottom: 7px;
    margin-bottom: -9px;
  }
  .menu__link_active {
    padding-bottom: 7px;
    margin-bottom: -9px;
  }
  .menu__item:last-of-type {
    margin-bottom: 0;
    margin-top: 54vh;
  }
} */