.search {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search__container {
  display: flex;
  justify-content: space-between;
  margin: 60px 70px 30px;
  border-radius: 9px;
  width: 100%;
}
.search__main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid #E8E8E8;
}
.search__input {
  text-align: left;
  padding: 25px 0 15px;
  width: calc(100% - 165px);
  border: 0;
  color: #E8E8E8;
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}
.search__button {
  color: #FFFFFF;
  border: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  border-radius: 48px;
  background-color: #3456F3;
  width: 58px;
  height: 34px;
  margin-top: 10px;
}
.search__button:hover {
  opacity: 0.8;
}
.search__button:hover {
  cursor: pointer;
}
@media screen and (max-width: 1180px) {
  .search {
    margin: 0 auto;
    width: calc(100% - 60px);
 }
  .search__input {
    width: calc(100% - 155px);
 }
  .search__button:after {
    left: 35px;
 }
  .search__button:after {
    display: block 
 }
}
@media screen and (max-width: 800px) {
  .search {
    margin: 0 auto;
    width: calc(100% - 15px);
 }
  .search__container {
    margin: 75px auto 30px;
 }
  .search__input {
    padding: 24px 0 12px 22px;
 }
  .search__button {
    margin-top: 2px;
    margin-right: 24px;
 }
}
@media screen and (max-width: 400px) {
  .search__container {
    margin: 80px auto 35px auto;
    flex-direction: column;
 }
  .search {
    width: 95%;
    margin: 0 0 0 15px;
 }
  .search__button:after {
    display: none 
 }
  .search__container {
    width: 100% 
 }
  .search__input {
    padding-top: 12px;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
 }
  .search__button {
    margin-top: 0;
    margin-right: 14px;
 }
}