.form {
    max-width: 396px;
    margin: 0 auto;
    padding: 70px 0;
}

.form__container {
    width: 100%;
}

.form__logo {
    width: 38px;
    height: 38px;
}

.form__logo:hover {
    opacity: 0.8;
}

.form__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 36px 0 34px;
    padding: 0;
}

.form__content {
    margin: 0;
    padding: 0;
}

.form__sections {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form__section {
    margin: 0 0 20px 0;
    padding: 0;
}

.form__section:first-of-type {
    margin-top: 0;
}

.form__input-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin: 0;
    padding: 0;
}

.form__input {
    width: 100%;
    height: 32px;
    background-color: #FFFFFF;
    border: none;
    box-sizing: border-box;
    line-height: normal;
    color: #000000;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.form__input_type_name {
    font-weight: 400;
    border-bottom: 1px solid #E8E8E8;
}

.form__input_type_email {
    font-weight: 500;
    border-bottom: 1px solid #E8E8E8;
}

.form__input_types_email {
    font-weight: 500;
    border-bottom: 1px solid #E8E8E8;
}

.form__input_type_password {
    font-weight: 400;
    color: #FF3055;
    border-bottom: 1px solid #E8E8E8;
}

.form__input_type_error {
    color: #FF3055;
}

.form__input-error {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: normal;
    color: #FF3055;
    margin-top: 4px;
}

.form__enter {
    width: 396px;
    height: 45px;
    background: #3456F3;
    border-radius: 3px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    margin: 114px 0 16px;
    cursor: pointer;
}

.form__enter:hover {
    opacity: 0.8;
}

.form__footnote {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
    margin: 0;
    padding: 0;
}

.form__footnote-link {
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #3456F3;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-left: 6px;
}

.form__footnote-link:hover {
    opacity: 0.7;
}

.login__enter {
    margin-top: 200px;
}

.form__enter_disabled {
    background-color: #F8F8F8;
    color: rgba(194, 194, 194, 1);
    cursor: default;
  }

@media screen and (max-width: 768px) {
    .form {
        padding: 232px 0;
   }
}
@media screen and (max-width: 420px) {
    .form {
        box-sizing: border-box;
        width: 100%;
        padding: 56px 32px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .form__logo {
        display: flex;
        margin: 0 auto;
    }

    .form__title {
        width: 100%;
        margin: 50px 0 74px;
        text-align: center;
   }

    .form__content {
        width: 100%;
   }

    .form__input-error {
        margin-top: 4px;
   }

    .form__enter {
        width: 100%;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 14px;
        margin-top: 202px;
   }

    .form__footnote {
        font-size: 12px;
        line-height: normal;
   }

    .form__footnote-link {
        font-size: 12px;
        line-height: normal;
        margin-left: 7px;
   }

    .login__enter {
        margin-top: 288px;
   }
}